In [4]:
import pandas as pd 

air_data_csv = '../../data/air_data1.csv'

In [6]:
air_data = pd.read_csv(air_data_csv)

In [89]:
air_data

,Date,Température 1 (◦C),Température 2 (◦C),Température 3 (◦C),Humidité 1 (%),Humidité 2 (%),Humidité 3 (%),CO2 (ppm),Unnamed: 8
0,8/8/21 0:00,$24.10,23.3,24.7,80.0,80.0,79.0,-,NaN
1,8/8/21 0:30,24,23.2,24.6,80.0,80.0,79.0,-,NaN
2,8/8/21 1:00,23.9,23.1,24.5,80.0,80.0,78.0,-,NaN
3,8/8/21 1:30,23.9,23.1,24.5,80.0,80.0,78.0,-,NaN
4,8/8/21 2:00,23.8,23.0,24.5,79.0,79.0,78.0,-,NaN
...,...,...,...,...,...,...,...,...,...
15713,30/9/22 21:30,24.65,23.9,24.6,63.0,67.0,66.0,"1,349.90",NaN
15714,30/9/22 22:00,24.4,23.7,24.2,64.0,69.0,70.0,"1,274.60",NaN
15715,30/9/22 22:30,23.38,23.8,24.6,64.0,66.0,66.0,"1,280.40",NaN
15716,30/9/22 23:00,22.81,23.4,24.3,66.0,66.0,67.0,"1,558.50",NaN
15717,30/9/22 23:30,22.76,23.5,24.5,66.0,67.0,66.0,"1,523.80",NaN

In [9]:
air_data2 = pd.read_csv('../../data/air_data2.csv')

In [10]:
air_data2

,Unnamed: 0,Température 1 (◦C),Température 2 (◦C),Température 3 (◦C),Humidité 1 (%),Humidité 2 (%),Humidité 3 (%),CO2 (ppm)
0,5/6/2022 0:00:00,23.45,23.5,26.8,74.0,74.0,70.0,-
1,5/6/2022 0:30:00,23.03,23.1,26.4,75.0,76.0,70.0,-
2,5/6/2022 1:00:00,22.32,22.2,25.9,77.0,77.0,70.0,-
3,5/6/2022 1:30:00,21.97,21.9,25.6,78.0,78.0,70.0,-
4,5/6/2022 2:00:00,21.77,21.7,25.5,78.0,78.0,70.0,-
...,...,...,...,...,...,...,...,...
375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
376,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
378,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-

In [43]:
group_1 = pd.read_csv('../../data/groupe1.csv', header=1, low_memory=False)
group_1.nunique()
group_1.isna().sum()

Date                          1
nutriments (S21)              0
Avg. E.C                  29563
Water Temp (S22)              0
Avg. TEMP (°F)            29563
pH (S23)                      1
Avg. pH                   29564
twr  level (in " S31)         1
Avg. Tower Level (")      29564
Dissolved O2               8006
Avg. DO (ppm)             29229
Flowswitch (D1)             337
tower valv (R1)             337
tower pump (R2)             337
Lvl ntrlck (R3)             337
PRGHGHCOND (R4)             337
Alarm (R5)                  337
Manual (R6)                 337
Manual (R7)                 337
Manual (R8)                 337
PSC pump (A41)              336
nutA&B (A42)                336
pH- Pump (A43)              384
pH+ Pump (A44)              384
Unnamed: 24                 385
Unnamed: 25                 385
Unnamed: 26                 385
Unnamed: 27                 481
Unnamed: 28               12796
Unnamed: 29               20582
Unnamed: 30               23561
Unnamed: 31               23897
dtype: int64

In [39]:
group_1.columns

Index(['Date', 'nutriments (S21)', 'Avg. E.C', 'Water Temp (S22)',
       'Avg. TEMP (°F)', 'pH (S23)', 'Avg. pH', 'twr  level (in " S31) ',
       'Avg. Tower Level (")', 'Dissolved O2', 'Avg. DO (ppm)',
       'Flowswitch (D1)', 'tower valv (R1)', 'tower pump (R2)',
       'Lvl ntrlck (R3)', 'PRGHGHCOND (R4)', 'Alarm (R5)', 'Manual (R6)',
       'Manual (R7)', 'Manual (R8)', 'PSC pump (A41)', 'nutA&B (A42)',
       'pH- Pump (A43)', 'pH+ Pump (A44)', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31'],
      dtype='object')

In [51]:
group_2 = pd.read_csv('../../data/groupe2.csv', header=1, low_memory=False)

In [20]:
group_3 = pd.read_csv('../../data/groupe3.csv', low_memory= False)

In [24]:
harvest = pd.read_csv('../../data/harvest.csv')

In [25]:
plant_health = pd.read_csv('../../data/planthealth.csv')

In [27]:
grow_off = pd.read_csv('../../data/grow-off.csv')

In [28]:
planting = pd.read_csv('../../data/planting.csv')

In [ ]:
group_2['Date'] = pd.to_datetime(group_2['Date'])

In [87]:
Sep_9_2021 = group_2.loc[(group_2['Date'] > '2021-09-23 00:30:00') & (group_2['Date'] < '2021-09-23 23:30:00')]

In [88]:
Sep_9_2021

,Date,PSC (S11),Avg. PSC,nutriments (S21),Avg. E.C,Water Temp (S24),Avg. TEMP (°F),pH (S23),Avg pH,"twr level (in "" S31)",...,nutA&B (A42),pH- Pump (A43),pH+ Pump (A44),Off / On 1,Off / On 2,Off / On 3,Comments,Unnamed: 28,Unnamed: 29,Unnamed: 30
34387,2021-09-23 01:00:00,NaN,NaN,1.81,NaN,70.9,NaN,5.83,NaN,14.11,...,Off,0,0,0,1.6,On,NaN,NaN,NaN,NaN
34388,2021-09-23 01:30:00,NaN,NaN,1.79,NaN,70.7,NaN,5.86,NaN,14.34,...,Off,48.3,48.3,0,3.1,On,NaN,NaN,NaN,NaN
34389,2021-09-23 02:00:00,NaN,NaN,1.81,NaN,70.7,NaN,5.84,NaN,14.17,...,Off,0,0,0,1.8,On,NaN,NaN,NaN,NaN
34390,2021-09-23 02:30:00,NaN,NaN,1.8,NaN,70.4,NaN,5.84,NaN,14.11,...,Off,0.7,4.3,0,1.9,On,NaN,NaN,NaN,NaN
34391,2021-09-23 03:00:00,NaN,NaN,1.8,NaN,70.3,NaN,5.84,NaN,14.24,...,Off,0.1,0.1,0,1.8,On,NaN,NaN,NaN,NaN
34392,2021-09-23 03:30:00,NaN,NaN,1.8,NaN,70.2,NaN,5.83,NaN,14.1,...,Off,3.7,3.7,0,1.6,On,NaN,NaN,NaN,NaN
34393,2021-09-23 04:00:00,NaN,NaN,1.79,NaN,70.1,NaN,5.85,NaN,14.33,...,Off,40,40,0,2.5,On,NaN,NaN,NaN,NaN
34394,2021-09-23 04:30:00,NaN,NaN,1.8,NaN,69.8,NaN,5.84,NaN,14.23,...,Off,0,0,0,1.8,On,NaN,NaN,NaN,NaN
34395,2021-09-23 05:00:00,NaN,NaN,1.8,NaN,69.6,NaN,5.83,NaN,14.1,...,Off,11,11.2,0,1.6,On,NaN,NaN,NaN,NaN
34396,2021-09-23 05:30:00,NaN,NaN,1.8,NaN,69.6,NaN,5.84,NaN,14.35,...,Off,17.9,18.6,0,1.8,On,NaN,NaN,NaN,NaN
34397,2021-09-23 06:00:00,NaN,NaN,1.8,NaN,69.3,NaN,5.83,NaN,14.22,...,Off,6.5,9.4,0,1.3,On,NaN,NaN,NaN,NaN
34398,2021-09-23 06:30:00,NaN,NaN,1.8,NaN,69.3,NaN,5.83,NaN,14.08,...,Off,0,0,0,1.5,On,NaN,NaN,NaN,NaN
34399,2021-09-23 07:00:00,NaN,NaN,1.79,NaN,69.3,NaN,5.84,NaN,14.32,...,Off,32.5,32.5,0,1.9,On,NaN,NaN,NaN,NaN
34400,2021-09-23 07:30:00,NaN,NaN,1.8,NaN,69.1,NaN,5.83,NaN,14.22,...,Off,7.2,7.2,0,1.4,On,NaN,NaN,NaN,NaN
34401,2021-09-23 08:00:00,NaN,NaN,1.8,NaN,68.9,NaN,5.83,NaN,14.12,...,Off,12.9,12.9,0,1.3,On,NaN,NaN,NaN,NaN
34402,2021-09-23 08:30:00,NaN,NaN,1.8,NaN,68.9,NaN,5.83,NaN,14.05,...,Off,9.5,9.5,0,1.5,On,NaN,NaN,NaN,NaN
34403,2021-09-23 09:00:00,NaN,NaN,1.8,NaN,68.9,NaN,5.83,NaN,14.2,...,Off,2.8,4.8,0,1.6,On,NaN,NaN,NaN,NaN
34404,2021-09-23 09:30:00,NaN,NaN,1.79,NaN,68.9,NaN,5.85,NaN,14.08,...,Off,45.9,45.9,0,2.4,On,NaN,NaN,NaN,NaN
34405,2021-09-23 10:00:00,NaN,NaN,1.8,NaN,68.8,NaN,5.83,NaN,14.23,...,Off,0,0,0,1.3,On,NaN,NaN,NaN,NaN
34406,2021-09-23 10:30:00,NaN,NaN,1.8,NaN,68.8,NaN,5.83,NaN,14.32,...,Off,20.2,20.2,0,1.7,On,NaN,NaN,NaN,NaN
34407,2021-09-23 11:00:00,NaN,NaN,1.8,NaN,69,NaN,5.83,NaN,14.06,...,Off,0,0,0,1.7,On,NaN,NaN,NaN,NaN
34408,2021-09-23 11:30:00,NaN,NaN,1.8,NaN,68.8,NaN,5.84,NaN,14.23,...,Off,0,0,0,2,On,NaN,NaN,NaN,NaN
34409,2021-09-23 12:00:00,NaN,NaN,1.8,NaN,69.2,NaN,5.83,NaN,14.13,...,Off,0,0,0,1.4,On,NaN,NaN,NaN,NaN
34410,2021-09-23 12:30:00,NaN,NaN,1.78,NaN,69.3,NaN,5.84,NaN,14.33,...,Off,76.2,79.2,0,2.2,On,NaN,NaN,NaN,NaN
34411,2021-09-23 13:00:00,NaN,NaN,1.8,NaN,69.3,NaN,5.84,NaN,14.06,...,Off,15.6,15.6,0,1.8,On,NaN,NaN,NaN,NaN
34412,2021-09-23 13:30:00,NaN,NaN,1.81,NaN,69.8,NaN,5.84,NaN,14.24,...,Off,0,0,0,2,On,NaN,NaN,NaN,NaN
34413,2021-09-23 14:00:00,NaN,NaN,1.8,NaN,69.7,NaN,5.83,NaN,14.07,...,Off,0,0,0,1.4,On,NaN,NaN,NaN,NaN
34414,2021-09-23 14:30:00,NaN,NaN,1.8,NaN,69.9,NaN,5.83,NaN,14.26,...,Off,0,0,0,1.3,On,NaN,NaN,NaN,NaN
34415,2021-09-23 15:00:00,NaN,NaN,1.8,NaN,69.7,NaN,5.83,NaN,14.2,...,Off,4.4,0.2,0,1.4,On,NaN,NaN,NaN,NaN
34416,2021-09-23 15:30:00,NaN,NaN,1.8,NaN,70,NaN,5.84,NaN,14.12,...,Off,0,0,0,1.8,On,NaN,NaN,NaN,NaN
34417,2021-09-23 16:00:00,NaN,NaN,1.8,NaN,70.2,NaN,5.84,NaN,14.02,...,Off,0,0,0,1.8,On,NaN,NaN,NaN,NaN
34418,2021-09-23 16:30:00,NaN,NaN,1.8,NaN,70.1,NaN,5.83,NaN,14.3,...,Off,0,0,0,1.7,On,NaN,NaN,NaN,NaN
34419,2021-09-23 17:00:00,NaN,NaN,1.8,NaN,70.1,NaN,5.84,NaN,14.1,...,Off,0.6,0.6,0,1.8,On,NaN,NaN,NaN,NaN
34420,2021-09-23 17:30:00,NaN,NaN,1.8,NaN,70.4,NaN,5.83,NaN,14.27,...,Off,0,0,0,1.7,On,NaN,NaN,NaN,NaN
34421,2021-09-23 18:00:00,NaN,NaN,1.8,NaN,70.6,NaN,5.83,NaN,14.05,...,Off,0,0,0,1.7,On,NaN,NaN,NaN,NaN
34422,2021-09-23 18:30:00,NaN,NaN,1.8,NaN,70.3,NaN,5.84,NaN,14.26,...,Off,1.1,1.1,0,1.8,On,NaN,NaN,NaN,NaN
34423,2021-09-23 19:00:00,NaN,NaN,1.8,NaN,70.7,NaN,5.83,NaN,14.12,...,Off,0,0,0,1.6,On,NaN,NaN,NaN,NaN
34424,2021-09-23 19:30:00,NaN,NaN,1.79,NaN,70.6,NaN,5.85,NaN,14.31,...,Off,58.5,58.5,0,2.5,On,NaN,NaN,NaN,NaN
34425,2021-09-23 20:00:00,NaN,NaN,1.8,NaN,70.4,NaN,5.83,NaN,14.14,...,Off,0,0,0,1.6,On,NaN,NaN,NaN,NaN
34426,2021-09-23 20:30:00,NaN,NaN,1.8,NaN,70.4,NaN,5.83,NaN,14.28,...,Off,4.4,4.4,0,1.4,On,NaN,NaN,NaN,NaN
34427,2021-09-23 21:00:00,NaN,NaN,1.81,NaN,70.7,NaN,5.83,NaN,14.16,...,Off,0,0,0,1.6,On,NaN,NaN,NaN,NaN
34428,2021-09-23 21:30:00,NaN,NaN,1.8,NaN,70.9,NaN,5.84,NaN,14.21,...,Off,0,0,0,2,On,NaN,NaN,NaN,NaN
34429,2021-09-23 22:00:00,NaN,NaN,1.8,NaN,70.8,NaN,5.84,NaN,14.18,...,Off,0,0,0,1.8,On,NaN,NaN,NaN,NaN
34430,2021-09-23 22:30:00,NaN,NaN,1.8,NaN,70.8,NaN,5.83,NaN,14.07,...,Off,0,0,0,1.5,On,NaN,NaN,NaN,NaN
34431,2021-09-23 23:00:00,NaN,NaN,1.8,NaN,70.5,NaN,5.83,NaN,14.23,...,Off,0,0,0,1.6,On,NaN,NaN,NaN,NaN

In [66]:
Sep_9 = group_2.where(group_2['Date'] = '' )

DataFrame.where(cond, other=_NoDefault.no_default, *, inplace=False, axis=None, level=None, errors='raise', try_cast=_NoDefault.no_default)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55066 entries, 0 to 55065
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    55065 non-null  datetime64[ns]
 1   PSC (S11)               33569 non-null  object
 2   Avg. PSC                167 non-null    float64
 3   nutriments (S21)        55066 non-null  object
 4   Avg. E.C                126 non-null    object
 5   Water Temp (S24)        55064 non-null  object
 6   Avg. TEMP (°F)          174 non-null    float64
 7   pH (S23)                54969 non-null  object
 8   Avg pH                  174 non-null    object
 9   twr  level (in " S31)   47884 non-null  object
 10  Avg. Tower Level (")    126 non-null    object
 11  Flowswitch (D1)         51300 non-null  object
 12  tower valv (R1)         51268 non-null  object
 13  tower pump (R2)         51250 non-null  object
 14  Lvl ntrlck (R3)         51296 non-null  object
 15  PRGHGHCOND (R4)         51296 non-null  object
 16  Alarm (R5)              51296 non-null  object
 17  Manual (R6)             51296 non-null  object
 18  Manual (R7)             51296 non-null  object
 19  Manual (R8)             51296 non-null  object
 20  PSC pump (A41)          51252 non-null  object
 21  nutA&B (A42)            51252 non-null  object
 22  pH- Pump (A43)          51149 non-null  object
 23  pH+ Pump (A44)          51053 non-null  object
 24  Off / On 1              48728 non-null  object
 25  Off / On 2              31703 non-null  object
 26  Off / On 3              27017 non-null  object
 27  Comments                1 non-null      object
 28  Unnamed: 28             0 non-null      float64
 29  Unnamed: 29             0 non-null      float64
 30  Unnamed: 30             816 non-null    float64
dtypes: datetime64[ns](1), float64(5), object(25)
memory usage: 13.0+ MB